<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=49f0c2cc-7a30-4455-81fb-a443008538f8.sqlserver.sequelizer.com;Database=db49f0c2cc7a30445581fba443008538f8;User ID=mkdoylafjnlumkqi;Password=z8t3LiswZGGDgVuqMBZd5t7wBHA3EEoCggKfPaLvgSSz3DhHkkjcGHxgb5zdPxYt;"/>
  </connectionStrings>
</configuration>
